---
import '../../styles/global.css'
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Giriş kodu yönlendirme">
    <div class="m-10 board-theme-text-secondary">
        Giriş kodu ve şifre girişleri birleşti. <a href="/login" class="underline">Giriş sayfasına gidin</a>.
    </div>
    <script>
        window.location.replace('/login');
    </script>
</Layout>
