---
import Layout from '../../layouts/Layout.astro'
---

<Layout>
    <style>
        :root {
          background-color: black
        }
    </style>

    <img src="/loading.svg">

    <a href="/board" class="text-white m-4 mt-20 inline-block">Geri</a>
</Layout>