---
import Layout from '../layouts/Layout.astro'
---

<Layout>
    <div class="border border-slate-700 inline-block m-5 p-5">
        <div class="text-xl font-semibold">John Doe</div>
        <div class="border border-slate-200 p-2 my-2">
            Giriş yapmak için:
            <ol class="list-decimal list-inside">
                <li>
                    Ekrandaki "QR Kodu göster" tuşuna basın.
                </li>
                <li>
                    Telefonunuzu kullanarak QR kodu okutun.
                </li>
                <li>
                    Aşağıda bulunan giriş bilgilerinizi girin.
                </li>
            </ol>
        </div>
        <div class="border border-slate-400 my-2 p-2">
            <div class="text-lg font-semibold">ID: 1234</div>
            Giriş kodu: <span class="text-xs">741234</span>
        </div>
    </div>
</Layout>