---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="border border-slate-700 inline-block m-5 p-5">
        <div class="text-xl font-semibold">name</div>
        <div class="border border-slate-400 my-2 p-2">
            <div class="text-lg font-semibold">ID: 100</div>
            Giriş kodu: <span class="text-xs bg-black text-slate-700 p-1 font-mono">1234567890</span>
        </div>
    </div>
</Layout>