---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Yardım - Bir yardım sayfası yapacaksan neden sadece 2 tane soru cevapladın?">
    <div class="m-10">
        <h1 class="text-4xl mb-2">Bir yardım sayfası yapacaksan neden sadece 2 tane soru cevapladın?</h1>
        Çok vaktim yok, o yüzden sık sık bana gelen sorular oldukça doldurmayı düşünüyorum.
    </div>
</Layout>